
export interface {{ident}} {
{%- for field in fields %}
  {{ field.name }}: {{ field.value.ts_type() }};
{%- endfor %} 
}

export module {{ident}} {
  export const serialize = (value: {{ident}}, bufferLike?: BufferLike): Sink => {
    const sink = Sink.create(bufferLike);
  {%- for field in fields %}
    {{ field.value.writer() }}(value.{{field.name}}, sink);
  {%- endfor %} 
    return sink;
  }

  export const deserialize = (bufferLike: BufferLike): {{ident}} => {
    const sink = Sink.create(bufferLike);
    return {
      {%- for field in fields %}
      {{field.name}}: {{ field.value.reader() }}(sink),
      {%- endfor %} 
    };
  }
}

